<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper   
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.busan.mapper.BoardMapper">

   <sql id="search">
   <where>
   <if test="field=='writer' and word!=nulll">
   writer like '%'||#{word}||'%'
   </if>
   <if test="field=='title' and word!=nulll">
   title like '%'||#{word}||'%'
   </if>
   <if test="field=='content' and word!=nulll">
   content like '%'||#{word}||'%'
   </if>
   </where>
   </sql>


<insert id="insert">
insert into board values(Board_seq.nextval,#{writer},#{title},#{content},sysdate,#{password})
</insert>

<select id="getList" parameterType="map" resultType="com.busan.domain.BusanBoardVO">
<![CDATA[
   select * from (select rownum rn, aa.* from (select * from board ]]>
    <include refid="search"></include> 
    <![CDATA[
    order by num desc)aa) where rn>=#{startRow} and rn <=#{endRow} order by rn
      ]]>
</select>

<select id="getTotal" parameterType="map"   resultType="Integer">
select count(*) from board
   <include refid="search"></include>
</select>

<select id="read" resultType="com.busan.domain.BusanBoardVO">
select * from board where num=#{num}
</select>
<select id="passCheck" resultType="String">
select password from board where num = #{num}
</select>

<update id="update">
update board set title=#{title}, writer=#{writer}, content=#{content}, password=#{password} where num=#{num}
</update>

<delete id="delete">
delete board where num=#{num}
</delete>

</mapper>